html {
  height: 100%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 15px;
}

iframe {
  border: 0px;
  height: 100%;
}

.drag {
  -webkit-app-region: drag;
}
