<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="network_list.css">
</head>

<body>
  <div id="header">
    <div id="back">
      <button id="back">Back</button>
    </div>
    <div id="network">
      <div id="icon">
        <network-icon id="network-icon"></network-icon>
      </div>
      <div id="title">
        <span id="network-type"></span>
        <span id="network-state"></span>
      </div>
      <div id="info-icon">
        <img id="info-icon" src="../assets/info_64.png"></img>
      </div>
    </div>
    <div id="disconnect">
      <button id="disconnect">Disconnect</button>
    </div>
  </div>

  <h2>Visible Networks</h2>
  <div id="network-list">
    <network-list-select id="network-entries"></network-list-select>
  </div>

</body>

</html>
