div#header {
    display: flex;
    flex-direction: column;
}

div#network {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-top: 16px;
}

div#network div#icon {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
}

div#network div#icon network-icon {
    height: 48px;
    padding-bottom: 8px;
    width: 48px;
}

div#network div#title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

div#title #network-type {
    font-size: 20px;
    font-weight: bold;
}

div#title #network-state {
    font-size: 16px;
    margin-top: 4px;
}

div#title #network-state.Connected,#network-state.Connecting {
    font-weight: bold;
}

div#network div#info-icon {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
}

div#network div#info-icon img#info-icon {
    height: 24px;
    width: 24px;
}

network-list-select#network-entries #container-div {
    /* height: 128px; */
    margin-top: 16px;
    overflow: auto;
}
