<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="network_details.css">
</head>

<body>
  <div id="div-outer">

    <div id="header">
      <div id="back">
        <button id="back">Back</button>
      </div>
      <div id="network">
        <div id="icon">
          <network-icon id="network-icon"></network-icon>
        </div>
        <div id="title">
          <span id="network-name"></span>
          <span id="network-state"></span>
        </div>
      </div>
      <div id="connection">
        <button id="disconnect">Disconnect</button>
        <button id="connect">Connect</button>
      </div>
    </div>

    <div id="settings">
      <div class="WiFi">
        <onc-checkbox oncproperty="WiFi.AutoConnect"></onc-checkbox>
      </div>
      <div class="WiMAX">
        <onc-checkbox oncproperty="WiMAX.AutoConnect"></onc-checkbox>
      </div>
      <div class="VPN">
        <onc-checkbox oncproperty="VPN.AutoConnect"></onc-checkbox>
        <onc-property oncproperty="VPN.Host"></onc-property>
        <onc-property oncproperty="VPN.Username"></onc-property>
      </div>
    </div>

    <div id="details">
      <onc-property oncproperty="Connectable"></onc-property>
      <onc-property oncproperty="RestrictedConnectivity" default="No">
      </onc-property>
      <onc-property oncproperty="SSID"></onc-property>
      <div class="WiFi">
        <onc-property oncproperty="WiFi.BSSID"></onc-property>
      </div>
      <onc-property oncproperty="MacAddress"></onc-property>
      <onc-property oncproperty="ErrorState"></onc-property>

      <div class="WiFi">
        <onc-property oncproperty="WiFi.Security"></onc-property>
        <onc-property oncproperty="WiFi.EAP"></onc-property>
        <onc-property oncproperty="WiFi.SignalStrength"
                      default="0" postfix ="%">
        </onc-property>
        <onc-property oncproperty="WiFi.Frequency" postfix=" MHz">
        </onc-property>
      </div>

      <div class="Cellular">
        <onc-property oncproperty="Cellular.NetworkTechnology"></onc-property>
        <onc-property oncproperty="Cellular.ActivationState"></onc-property>
        <onc-property oncproperty="Cellular.RoamingState"></onc-property>
        <onc-property oncproperty="Cellular.OperatorName"></onc-property>
        <onc-property oncproperty="Cellular.OperatorCode"></onc-property>
        <onc-property oncproperty="Cellular.FirmwareRevision"></onc-property>
        <onc-property oncproperty="Cellular.HardwareRevision"></onc-property>
        <onc-property oncproperty="Cellular.Manufacturer"></onc-property>
        <onc-property oncproperty="Cellular.ModelID"></onc-property>
        <onc-property oncproperty="Cellular.PRLVersion"></onc-property>
        <onc-property oncproperty="Cellular.ICCID"></onc-property>
        <onc-property oncproperty="Cellular.IMEI"></onc-property>
        <onc-property oncproperty="Cellular.IMSI"></onc-property>
        <onc-property oncproperty="Cellular.MDN"></onc-property>
        <onc-property oncproperty="Cellular.MEID"></onc-property>
        <onc-property oncproperty="Cellular.MIN"></onc-property>
      </div>

      <div class="VPN">
        <onc-property oncproperty="VPN.IPSec"></onc-property>
        <onc-property oncproperty="VPN.Type"></onc-property>
      </div>

    </div>

  </div>
</body>

</html>
