<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="network_details.css">
</head>

<body>
  <div id="div-outer">

    <div id="header">
      <div id="back">
        <button id="back">Back</button>
      </div>
      <div id="network">
        <div id="icon">
          <network-icon id="network-icon"></network-icon>
        </div>
        <div id="title">
          <span id="network-name"></span>
          <span id="network-state"></span>
        </div>
      </div>
      <div id="connection">
        <button id="disconnect">Disconnect</button>
        <button id="connect">Connect</button>
      </div>
    </div>

    <div id="settings">
      <div class="WiFi">
        <onc-checkbox oncproperty="WiFi.AutoConnect"></onc-checkbox>
      </div>
      <div class="WiMAX">
        <onc-checkbox oncproperty="WiMAX.AutoConnect"></onc-checkbox>
      </div>
      <div class="VPN">
        <onc-checkbox oncproperty="VPN.AutoConnect"></onc-checkbox>
        <property-list-item oncproperty="VPN.Host"></property-list-item>
        <property-list-item oncproperty="VPN.Username"></property-list-item>
      </div>
    </div>

    <div id="details">
      <property-list-item oncproperty="Connectable"></property-list-item>
      <property-list-item oncproperty="RestrictedConnectivity" default="No">
      </property-list-item>
      <property-list-item oncproperty="SSID"></property-list-item>
      <div class="WiFi">
        <property-list-item oncproperty="WiFi.BSSID"></property-list-item>
      </div>
      <property-list-item oncproperty="MacAddress"></property-list-item>
      <property-list-item oncproperty="ErrorState"></property-list-item>

      <div class="WiFi">
        <property-list-item oncproperty="WiFi.Security"></property-list-item>
        <property-list-item oncproperty="WiFi.EAP"></property-list-item>
        <property-list-item oncproperty="WiFi.SignalStrength"
                            default="0" postfix ="%">
        </property-list-item>
        <property-list-item oncproperty="WiFi.Frequency" postfix=" MHz">
        </property-list-item>
      </div>

      <div class="Cellular">
        <property-list-item oncproperty="Cellular.NetworkTechnology">
        </property-list-item>
        <property-list-item oncproperty="Cellular.ActivationState">
        </property-list-item>
        <property-list-item oncproperty="Cellular.RoamingState">
        </property-list-item>
        <property-list-item oncproperty="Cellular.OperatorName">
        </property-list-item>
        <property-list-item oncproperty="Cellular.OperatorCode">
        </property-list-item>
        <property-list-item oncproperty="Cellular.FirmwareRevision">
        </property-list-item>
        <property-list-item oncproperty="Cellular.HardwareRevision">
        </property-list-item>
        <property-list-item oncproperty="Cellular.Manufacturer">
        </property-list-item>
        <property-list-item oncproperty="Cellular.ModelID"></property-list-item>
        <property-list-item oncproperty="Cellular.PRLVersion">
        </property-list-item>
        <property-list-item oncproperty="Cellular.ICCID"></property-list-item>
        <property-list-item oncproperty="Cellular.IMEI"></property-list-item>
        <property-list-item oncproperty="Cellular.IMSI"></property-list-item>
        <property-list-item oncproperty="Cellular.MDN"></property-list-item>
        <property-list-item oncproperty="Cellular.MEID"></property-list-item>
        <property-list-item oncproperty="Cellular.MIN"></property-list-item>
      </div>

      <div class="VPN">
        <property-list-item oncproperty="VPN.IPSec"></property-list-item>
        <property-list-item oncproperty="VPN.Type"></property-list-item>
        </property-list-item>
      </div>

    </div>

  </div>
</body>

</html>
