network-icon {
    height: 48px;
    width: 48px;
    padding-right: 8px;
}

div#header {
    display: flex;
}

div#header #icon {
    margin-top: 8px;
}

div#header div#title {
    margin-left: 4px;
}

div#header div#title p {
    margin: 8px;
}

div#header #network-name {
    font-size: 24px;
    font-weight: bold;
}

div#header #network-state {
    font-size: 18px;
}

div#header #network-state.Connected,#network-state.Connecting {
    font-weight: bold;
}

div#details {
    border-style: solid;
    border-width: 1px;
    margin: 2px;
    padding: 4px;
}
