html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

div#div-outer {
  flex: 1 1 auto;
  padding: 10px;
}

.drag {
  -webkit-app-region: drag;
}
