network-list-item div {
    border-style: none;
    margin: 0px;
    padding: 4px;
}

network-list-item div:hover {
    background-color: lightgrey;
}

network-list-item #icon {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

network-list-item #name {
    margin-left: 8px;
}

network-list-item #state {
    margin-left: 8px;
}

network-list-item span.Connected,span.Connecting {
    font-weight: bold;
}
