network-list-select div {
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

network-list-select p {
    margin: 0px;
    padding: 4px;
}

network-list-select p:hover {
    background-color: lightgrey;
}
